@page "/parts"
@inherits global::Blazor.Fluxor.Components.FluxorComponent
@using global::Blazor.Fluxor
@using global::MinMe.Blazor.Store.Document
@inject IDispatcher Dispatcher
@inject IState<DocumentState> DocumentState

<h1>Parts</h1>

@code {
}
