source https://api.nuget.org/v3/index.json
framework: net8.0

nuget DocumentFormat.OpenXml
nuget System.IO.Compression
nuget Microsoft.IO.RecyclableMemoryStream
nuget SixLabors.ImageSharp

// Desktop application
nuget Avalonia
nuget Avalonia.Controls.DataGrid
nuget Avalonia.Desktop
nuget Avalonia.Themes.Fluent
nuget Avalonia.ReactiveUI
nuget Avalonia.Diagnostics
nuget Microsoft.Extensions.Hosting
nuget Clippit

group Tests
    source https://api.nuget.org/v3/index.json
    framework: net8.0

    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit3TestAdapter