source https://api.nuget.org/v3/index.json
framework: xamarinmac, netstandard2, netcoreapp3.1

nuget NETStandard.Library restriction: >= xamarinmac
nuget DocumentFormat.OpenXml
nuget Clippit

nuget Avalonia
nuget Avalonia.Desktop
nuget Avalonia.ReactiveUI